@using DoctorBookManager.Models.Doctor
@model CreateDoctorModel
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Dodawanie lekarza</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
   @* <nav class="nav">
        <div class="container">
            <ul>
                <li><a asp-action="AddDoctor" asp-controller="Doctor">Dodaj</a></li>
                <li><a asp-action="Index" asp-controller="Doctor">Lista lekarzy</a></li>
                <li><a asp-action="Index" asp-controller="Review"> Opinie </a></li>
                <li><a asp-action="Index" asp-controller="Appoiment"> Moje wizyty </a></li>
                <li><a href="#logout">Wyloguj</a></li>
            </ul>
        </div>
    </nav>*@
    <div class="content">
        <h1>Dodawanie lekarza do bazy aplikacji:</h1>
        <hr />


        <form asp-action="AddDoctor" class="formClass" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Specialization" class="label">Specjalizacja</label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWorkHour" class="label"></label>
                <input asp-for="StartWorkHour" class="form-control" />
                <span asp-validation-for="StartWorkHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndWorkHour" class="label"></label>
                <input asp-for="EndWorkHour" class="form-control" />
                <span asp-validation-for="EndWorkHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="label"></label>
                <select class="form-control" name="userid" asp-selected="@Model.Users.First().Id" >

                    @foreach (var user in @Model.Users)
                    {
                        <option value=@user.Id>@user.UserName</option>
                    }
                </select>
               
            </div>
            <div class="form-group">
                <label asp-for="City" class="label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Wróć</a>

            </div>
        </form>

        <br />
        <br />
        <br />

      
</body>
</html>






